@import 'app/styles/custom/fifo-ui.less';

@custom-primary-color: #2A75A9;

// body {
// 	// background: url(../images/body-blue.png);
// 	// background: url(../images/body-noise.png);
// }


//Tip: google seems to respond a different .css depending on the OS..
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  // src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  // src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

//For titles and stuff: Ok Varela does not work very well for windows i.e for h4.
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  // src: local('Varela Round'), local('VarelaRound-Regular'), url(http://themes.googleusercontent.com/static/fonts/varelaround/v4/APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  src: local('Varela Round'), local('VarelaRound-Regular'), url(../fonts/APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@headings-font-weight: 400; //Varela doesnt has 500, nor 700 for bold...
 
@font-family-base: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-family-sans-serif: 'Varela Round', sans-serif;
@font-family-monospace: monospace, "Courier New";

//Tooltip:
@tooltip-max-width: 300px;
@tooltip-bg: @navbar-inverse-link-active-bg;
.tooltip-inner {
  white-space:pre-wrap;
  max-width: @tooltip-max-width;
}



