<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th translate>Alias</th>
        <th translate>Actions</th>
      </tr>
    </thead>
    <tr ng-repeat="machine in grouping._vms | hash2array | orderBy: 'alias'">
      <td><a href="#/machines/{{machine.uuid}}">{{machine.config.alias}}</a></td>
      <td><i ng-click="remove_vm(machine)" jq-run="tooltip" class="glyphicon glyphicon-remove-sign clickable" title="Delete"></i></td>
    </tr>
    <tbody>
    </tbody>
  </table>
</div>

<select ng-model='stack'>
  <option ng-repeat="stack in stacks | hash2array | orderBy: 'name'" value="{{stack.uuid}}">{{stack.name}}</option>
</select>
<button ng-click="stack_join()" class='btn btn-default'>Join</button>
<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Actions</th>
      </tr>
    </thead>
    <tr ng-repeat="stack in grouping._stacks | hash2array | orderBy: 'name'">
      <td><a href="#/groupings/stacks/{{stack.uuid}}">{{stack.name}}</a></td>
      <td><i ng-click="remove_stack(stack)" jq-run="tooltip" class="glyphicon glyphicon-remove-sign clickable" title="Delete"></i></td>
    </tr>
    <tbody>
    </tbody>
  </table>
</div>
